/.idea/
/vendor/

.env
/.env.local
/.env.local.php
/.env.*.local
/.env.*
!/.env.*.dist
!/.env.dist
.DS_Store
/build/
docker-compose.yml
/assets/metronic
/translations/*
/assets/js/fos_js_routes.json
/config/std*
/public/uploads/*
/.phpunit.cache
